body {
    padding: 0px;
    border: 0px;
    background-image: linear-gradient(to left, #9933ff 0%, #3399ff 100%);
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 20px;
    height:65vh;
    width: 400px;
    background-color: white;
    border-radius: 0.7rem;
    
}

.logform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin: 10px;
    width: 400px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#logbutton {
    background-image: linear-gradient(to left, #9933ff 0%, #3399ff 100%);
    border: none;
    size: 50px;
    width: 70%;
    height: 4vh;
}

h1{
    margin: 50px;
    text-align: center;
    color:black;
    font-family: 'Roboto', sans-serif;
}

.para {
    margin-top: 60px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    margin-top: 3px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: blue;
}

input {
    width: 70%;
    height: 4vh;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 300px;
    }

    form {
        width: 250px;
    }

    .para {
        width: 200px;
        margin-top: 45px;
        text-align: center;
    }
}

@media only screen and (max-width: 300px) {
    .container {
        width: 200px;
        overflow: auto;
    }

}